<launch>

    <!-- Names and addresses of all machines on network -->
    <!--machine name="Pi" address="foo-address" ros-root="/u/user/ros/ros/" ros-package-path="/u/user/ros/ros-pkg" user="someone"/-->
    
    <!-- Nodes to be launched on basestation -->
    <node pkg="rviz" name="visualization" type="rviz" output="screen"/>
    <node pkg="joy" name="joystick" type="joy_node" output="screen"/>
    <node pkg="llc" name="joy_to_cmd" type="joy_to_cmd.py" output="screen"/>
    
    <!-- Nodes to be launched on remote platform -->
    <!--node pkg="rosserial" name="serial_node1" type="serial_node.py" output="screen" machine="Pi"/-->

</launch>